
{% extends "shop/layer_1.html" %}
{% block content1 %}
	<div id="hello">
	    <div class="container" id="organisationHome">
	    	<div class="row">
	    		<div id="organisationHeader"></div>
	    	</div>

	    	<div id="organisationMain">
	    		<div class="row">
		    		<div class="col-lg-8 col-lg-offset-2 centered">
		    			<img style="width:100px; height:100px"class="img-circle" src="{{player.picture_url}}">
		    			<h1>Hello {{user.first_name}}</h1>
		    		</div><!-- /col-lg-8 -->
		    	</div><!-- /row -->
		    	<br>
		    	<br>
		    	<div class="row">
		    		<div class="col-lg-8 col-lg-offset-2 centered">
	                    <button style="word-spacing:10px;" class="btn btn-primary btn-medium organisationButton" data-toggle="modal" data-target="#createEvent">
	                    	CREATE NEW COUPON
	                	</button>
	                    <button style="word-spacing:10px;" class="btn btn-primary btn-medium organisationButton" data-toggle="modal" onclick="window.location.href='/my_events'" data-target="#myLogin">
	                        CHECK MY COUPONS
	                    </button>
	                </div>
				</div>
				<br>

			</div>
	    </div> <!-- /container -->
	</div><!-- /hello -->







<!-- Modal -->
<div class="modal fade" id="createEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="addEventForm" >
      <div class="modal-header">
        <button type="button" class="close" style="color:#fff" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel" style="color: #F85C37">CREATE YOUR COUPON</h3>
      </div>
      <div class=" container row modal-body">
        <div class="">
              <form class="form" style="width:600px; margin:-30px" method='post'>{% csrf_token %}
				

				<br />

				<div class="form-group">
					<label for="title" class="control-label">TITLE</label>
					<!-- {{form.title}} -->
					<input required="true" type="text" class="form-control" name="title" id="title">
				</div>


		        <div class="form-group">
					<label for="description" class="control-label">WHAT ARE YOU OFFERING?</label>
					<!-- {{form.description}} -->
					<textarea required="true" id="description" class="form-control" name="description" rows="3"></textarea>
				</div>

				<div class="form-group">
					<label for="location" class="control-label">LOCATION</label>
					<!-- {{form.location}} -->
					<input type="text" class="form-control" name="location" id="location">
				</div>

				<div class="form-group">
					<label required="true" for="location" class="control-label">POINTS REQUIRED</label>
					<!-- {{form.points}} -->
					<input type="number" class="form-control" name="price" id="price">
				</div>

				<div class="form-group">
					<label for="location" class="control-label"># OF COUPONS TO BE RELEASED</label>
					<!-- {{form.experience}} -->
					<input required="true"type="number" class="form-control" name="coupons_released" id="coupons_released">
				</div>
                


                <br />
				<div id="createSubmit">
					<input type="submit" class="btn btn-primary btn-default" value="DO IT!" style="width:250px;">
				</div>

				</div>




			</form>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker()
    });
</script>




{% endblock %}